@import 'generic/reset.scss';

// General

body
{
	font-family: 'Helvetica';
	line-height: 1.5;
}

header
{
	margin: 2rem 0;
}

#wrapper
{
	display: block;
	width: 80%;
	margin: 0 auto;
}

footer
{
	margin: 2rem 0;
}

// Components
.title
{
	font-size: 3rem
}

.title--secondary
{
	font-size: 2rem;
}

.item-grid
{
	display: grid;
	width: 100%;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

	&__item
	{
		display: block;
		padding: 2rem 1.75rem;
		background-color: #f7f7f7;
	}
}

.content-block
{
	display: block;
	width: 100%;
	margin-bottom: 4rem;

	&:last-child
	{
		margin-bottom: 0;
	}

	&__header
	{
		margin-bottom: 2rem;
	}

	&__main
	{
		display: flex;
		flex-direction: row-reverse;
	}

	&__left-column
	{
		flex-basis: 40%;
		padding: 2rem;
		background-color: #f7f7f7;
	}

	&__right-column
	{
		flex: 1 0 60%;
		margin-right: 6rem;
	}

	&__footer
	{
		display: flex;
		justify-content: flex-end;
		margin-top: 2rem;
	}
}

.button
{
	position: relative;
	font-weight: bold;

	&:before
	{
		content: 'â†';
		position: relative;
		left: 0;
	}
}

.key-value-list
{
	display: block;
	width: 100%;
	margin-top: 2rem;

	&__item
	{
		display: flex;
		justify-content: space-between;
		margin-bottom: .25rem;

		span
		{
			font-weight: bold;
		}
	}
}

.filter-block
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 2rem .5rem 2rem;
	margin-bottom: 2rem;
	background-color: #1f272a;

	&__item
	{
		display: flex;
		align-items: center;
		flex-grow: 1;
		margin: 0 1rem 1rem 0;
		color: #ffffff;

		&:first-child
		{
			margin-left: 0;
		}

		&:last-child
		{
			margin-right: 0;
		}
	}
}

.select
{
	width: 100%;
	border: none;
	height: 2rem;
	padding: .15rem .5rem;
}

.field
{
	border: none;
	padding: .15rem .5rem;
	height: 2rem;
	width: 100%;
}

.fieldset
{
	display: block;
	width: 100%;

	> *:first-child
	{
		display: block;
		margin-bottom: .25rem;
	}
}

.pagination
{
	margin-top: 2rem;
	
	nav
	{
		display: flex;
		justify-content: space-between;
	}

	svg
	{
		display: inline-block;
		width: 1rem;
	}
}